.tenilla-select {
  position: relative;
  display: block;
  width: 100%;
}
.tenilla-select-native {
  width: 100%;
  padding: 12px;
  border: 0;
  border-radius: var(--tenilla-radius);
  font-size: var(--tenilla-font-size);
  transition: border-color 0.2s;
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--tenilla-color-bg-subtle);
  color: var(--tenilla-color-text);
}
.tenilla-select-native:focus {
  outline: none;
  border-color: var(--tenilla-primary);
}
.tenilla-select-native:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}