.tenilla-number-input-native {
  width: 100%;
  padding: 12px;
  /* border: 1px solid #ddd; */
  border: 0;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.2s;
  box-sizing: border-box;
}
.tenilla-number-input-native:focus {
  outline: none;
  border-color: #0d6efd;
}
