.tenilla-number-input {
  position: relative;
  display: block;
  width: 100%;
}
.tenilla-number-input .tenilla-input-label {
  position: absolute;
  background: var(--tenilla-color-bg-subtle);
  border-radius: var(--tenilla-radius);
  left: 10px;
  top: -10px;
  padding: 2px 8px;
  font-size: var(--tenilla-font-size-sm);
  color: var(--tenilla-color-text-secondary);
  font-weight: var(--tenilla-font-weight);
  z-index: 1;
}
.tenilla-number-input-native {
  width: 100%;
  padding: 12px;
  border: 0;
  border-radius: var(--tenilla-radius);
  font-size: var(--tenilla-font-size);
  transition: border-color 0.2s;
  box-sizing: border-box;
  background-color: var(--tenilla-color-bg-subtle);
  color: var(--tenilla-color-text);
}
.tenilla-number-input-native:focus {
  outline: none;
  border-color: var(--tenilla-primary);
}