.tenilla-datetimepicker {
  position: relative;
  display: block;
}

.tenilla-datetimepicker .tenilla-input-label {
  position: absolute;
  background: var(--tenilla-color-bg-subtle);
  border-radius: var(--tenilla-radius);
  left: 10px;
  top: -10px;
  padding: 2px 8px;
  font-size: var(--tenilla-font-size-sm);
  color: var(--tenilla-color-text-secondary);
  font-weight: var(--tenilla-font-weight);
  z-index: 1;
}

.tenilla-datetimepicker.tenilla-disabled {
  opacity: 0.6;
  pointer-events: none;
}

.tenilla-datetimepicker-input {
  width: 100%;
  padding: 12px;
  border: 0;
  border-radius: var(--tenilla-radius);
  font-size: var(--tenilla-font-size);
  transition: border-color 0.2s;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  color: var(--tenilla-color-text);
  background-color: var(--tenilla-color-bg-subtle);
}

.tenilla-datetimepicker-input:focus {
  outline: none;
  border-color: var(--tenilla-primary);
}

.tenilla-datetimepicker-icon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none;
  color: var(--tenilla-color-text-secondary);
}

.tenilla-datetimepicker-popup {
  display: none;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  background: var(--tenilla-color-bg);
  border: 1px solid var(--tenilla-color-border);
  border-radius: var(--tenilla-radius);
  box-shadow: 0 4px 16px var(--tenilla-color-shadow);
  padding: 12px;
  z-index: 1060;
  min-width: 560px;
}

.tenilla-datetimepicker-popup.tenilla-open {
  display: flex;
  gap: 12px;
}

.tenilla-datetime-section {
  flex: 1;
}