.tenilla-textarea {
  position: relative;
  display: block;
  width: 100%;
}
.tenilla-textarea-native {
  width: 100%;
  padding: 12px;
  border: 0;
  border-radius: var(--tenilla-radius);
  font-size: var(--tenilla-font-size);
  transition: border-color 0.2s;
  box-sizing: border-box;
  min-height: 80px;
  resize: vertical;
  font-family: inherit;
  background-color: var(--tenilla-color-bg-subtle);
  color: var(--tenilla-color-text);
}
.tenilla-textarea-native:focus {
  outline: none;
  border-color: var(--tenilla-primary);
}